.container {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.block {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #6f9bc4;
    width: 70%;
    height: 70%;
    gap: 1rem;
    border-radius: 20px;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    width: 60%;
    height: 100%;
    padding: 1rem;
}

.aside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    padding: 1rem;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .block {
        width: 80%;
        height: 80%;
        gap: 0.5rem;
    }

    .article {
        width: 56%;
        gap: 2rem;
    }

    .aside {
        width: 44%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .block {
        width: 85%;
        height: 75%;
        gap: 0.5rem;
    }

    .article {
        width: 60%;
        gap: 1.5rem;
    }

    .aside {
        width: 50%;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .main {
        padding: 2rem;
    }

    .block {
        width: 100%;
        height: 100%;
    }

    .article {
        width: 40%;
    }

    .aside {
        width: 60%;
    }
}